- job:
    name: checkbox.io
    defaults: global
    project-type: pipeline
    dsl: |
        node {
            stage('source'){
                sh 'cp /home/vagrant/static_analysis/analysis.js ./'
                sh 'cp /home/vagrant/static_analysis/package.json ./'
                sh 'cp /home/vagrant/static_analysis/file_array.js ./'
                dir('app'){
                    git 'https://github.com/chrisparnin/checkbox.io.git'
                }
            }
            stage('run analysis'){
                sh 'npm install'
                try {
                    sh 'node analysis.js'
                }
                catch(exc) {
                    echo 'Check the console log for build failure'
                    throw exc
                }
            }
            stage('Setting'){
                sh 'npm install --prefix app/server-side/site/'
            }
            stage('change'){
                sh 'pm2 start app/server-side/site/server.js'
            }
            stage('Test'){
                sh 'npm test --prefix app/server-side/site/'
            }
            stage('Stop'){
                sh 'pm2 stop  app/server-side/site/server.js'
            }
        }